<div class="auto-scroll-to-top">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 220.21 448">
        <path d="M88,166.06V468a12,12,0,0,0,12,12h56a12,12,0,0,0,12-12V166.06h46.06c21.38,0,32.09-25.85,17-41L145,39A24,24,0,0,0,111,39L25,125.09c-15.12,15.12-4.41,41,17,41Z" transform="translate(-17.89 -32)"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 220.21 448">
        <path d="M88,166.06V468a12,12,0,0,0,12,12h56a12,12,0,0,0,12-12V166.06h46.06c21.38,0,32.09-25.85,17-41L145,39A24,24,0,0,0,111,39L25,125.09c-15.12,15.12-4.41,41,17,41Z" transform="translate(-17.89 -32)"/>
    </svg>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-m-12 in">
                <p class="copyright">{{ site.name }} {{ "now"|date("Y") }}</p>
                <p>Webdesign: <a href="https://nl.linkedin.com/in/sergiodebei">Sergio De Bei</a></p>
            </div>
        </div>
    </div>
</footer>
    