{% for home_blocks in post.home_blocks %}

    {% if home_blocks.acf_fc_layout == 'text' %}

        {% include "partials/home_text.twig"%}

        {% elseif home_blocks.acf_fc_layout == 'services' %}
            {% include "partials/home_services.twig"%}

        {% elseif home_blocks.acf_fc_layout == 'map' %}
            <section id="map">
            </section>

        {% elseif home_blocks.acf_fc_layout == 'contact_form' %}
            {% include "partials/home_contact_form.twig"%}
    
    {% endif %}

{% endfor %}

