// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$white: #ffffff;
$black: #000000;
$blue: #1a8bcb;
$blue_dark: #1d4e69;
$grey: #f3f3ee;
$cream: #fff9ee;
$sky_grey: #4a7994;

// Fonts
$fontFamily-roboto: 'Roboto', sans-serif !default;
$fontFamily-poppins: 'Poppins', sans-serif !default;

$text: "Roboto", sans-serif;
$rock: "Poppins", sans-serif;