.auto-scroll-to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background-color: $blue;
    border: 1px solid $white;
    box-shadow: 0 5px 0 #e6e6e6;
    @include transition(.3s);
    cursor: pointer;
    width: 37px;
    height: 37px;
    position: fixed;
    bottom: 62px;
    right: -80px;
    background-color: #257cac;
    color: #fff;
    font-size: 24px;
    .fa{
        padding: 0 1px;
    }
    &:hover{
        background-color: #257cac;
        box-shadow: 0 2px 0 #ede7b3;
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
}

@media only screen and (max-width: 500px){
    .auto-scroll-to-top {
        bottom: 79px;
    }
}
