$container-width: 1000;

//----- Extends
%clearfix:after {
	display:block;
	clear:both;
	content:'';
}

//----- Grid System
$grid-spacing:3%;

.row {
	@extend %clearfix;
	display: flex;
    flex-wrap: wrap;
	& + & {
		margin-top:$grid-spacing;
	}
}

[class^="col-"] {
	float:left;
	margin-right:$grid-spacing;
	// margin-bottom: 2rem;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;

	&:last-child {
		margin-right:0%;
	}
}

.container, .cb {
	max-width: $container-width + px;
	margin: 0 auto;
  	@media only screen and (max-width: 1000px) {
		margin: 0 2rem;
	}
}

section{
    padding: 3rem 0;
}



.col-m-4 {
	width:(100% / 3) - ($grid-spacing * 8 / 12);
	&:nth-child(3n){
		margin-right: 0%;
	}
}

@media only screen and (max-width: 800px) {
	.col-m-4 {
		width:(100% / 2) - ($grid-spacing * 6 / 12);
		margin-right: 3%;
		&:nth-child(3n){
			margin-right: 3%;
		}
		&:nth-child(2n){
			margin-right: 0%;
		}
	}
}

@media only screen and (max-width: 500px) {
	.col-4 {
		width: 100%;
		margin-right: 0%;
		&:nth-child(3n){
			margin-right: 0%;
		}
	}
}

.col-m-6 {
	width:(100% / 2) - ($grid-spacing * 6 / 12);
	&:nth-child(2n){
		margin-right: 0%;
	}
}

.col-m-12{
	width: 100%;
	// margin-bottom: 0;
}